@media screen and (max-width: 450px) {
    /* responsividade blog */
    .frame-blog p {
      margin: 1em 2em;
    }

    video{
        display: none;
    }

    .frame-blog iframe{
        width: 118px;
        height: 159px; 
        padding-left: 100%;
    }
    .blog-container{
        display: block;
    }

    .flex-blog{
        display: block;
    }
    .frame-blog h2{
        font-size: 14px;
        font-weight: 700;
        line-height: 12px;
        padding-left: 50px;
      }
    .titulo-top{
        background: none;
    }
/* responsividade contato */
    .form{
        display: contents;
    }

    .form img{
        width: 200px;
    }
    .form-contato{
        display: contents;
        margin-left: 20px;
    }
    .form-contato input{
        width: 240px;
        margin-left: 20px;
    }
    .message-form{
        min-height: 200px;
    }
    .form-contato h1{
        margin-left: 20px;
    }
    .btn-form{
        margin-left: 20px;
    }

    /*responsividade curso unitário -
     possuem os mesmos atributos*/
    .curso-initial{
        display: block;
    }
    .curso-investimento h1{
    font-size: 30 px }

    .curso-img{
    display: none;
    }

    .box-aula-cursos{
        display: block;
        padding: 7%;
    }
    .curso-investimento p{
        font-size: 14px;
        font-weight: 300;
        display: flex;
        line-height: 12px;
        margin-top: 14%;
        }

    hr{
        width: 300px;

    }
    video{
        padding: 40px;
    }

    /*responsividade da página cursos*/
    .box-content-cursos{
        display: block;
        padding: 1%;

    }
    .box-content-cursos img{
        width: 50%;
        height: 50%;
        padding: 12px 12px;
        margin-left: 30px;
    }

    /*responsividade da página post*/
    .frame-post{
        height: 200px;
    }
    /*responsividade do index*/
    .content{
        display: block;
    }
    .img-top{
        display: none;
        position: relative;
    }

    .titulo-top h1{
        font-size: 30px;
        line-height: 25px;
        position: relative;
    }

    .titulo-top p{
        font-size: 20px;
        line-height: normal;
        position: absolute;
    }

    .button-top button{
     margin-top: 200px;
    padding: 12px;
    border: 0px;

  }

  .button-top button a{
    position: absolute;
    border: 2px solid #FF4081;
    border-radius: 62px;
    padding: 20px;
  }
  
  .newbox-2{
    display: inline;
  }
  .nbox{
    padding-top: 40%;
    padding-left: 12px;
    align-items: center;
    margin-left: 42px;
  }
  .grid{
    display: block;
    padding-top: 2px;
}
.test-img{
    box-sizing: content-box;
    width: 70px;
    height: 70px;
    margin-top: 150px;
}
.testemony-text p{
    margin-top: 50px;
    
}
.content-more h2{
font-size: 25px;
}
.more-flex{
    display: block;
}
.content-one p span{
    line-height: 18px;
}
.content-one img{
    width: 150px;
    height: 50%;

}
.button-f-m{
    padding-left: 25%;
    }

.footer{
    background-color: #2E948A;
    display: block;
    width: 375px;
    height: 500px;
}
#footer-img{
    padding-left: 50px;
  
}
.button-f{

    margin-left: 30px; 
 }

 .list-menu{
    display: block;
    justify-content: center;
    margin-left: 35%;
}

.curso-investimento h1{
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    }
.curso-investimento p{
    font-size: 20px;
    font-weight: 300;
    margin-left: 20px;
        }
video{
    height: 200px;
    box-sizing: border-box;
}
} 

  @media screen and (max-width: 900px) {
        /* responsividade blog */

    .frame-blog p {
      margin-right: 8px;
    }

    .frame-blog h2{
        font-size: 40px;
    }

    .frame-blog iframe{
        width: 218px;
        height: 159px; 
    }
    .frame-blog h2{
        font-size: 14px;
        font-weight: 700;
        line-height: 12px;
    }
    /* responsividade contato */

    .form img{
        width: 300px;
        margin-right: 150px;
    }
    .form-contato{
        display: contents;
        margin-left: 20px;
    }
    .form-contato input{
        width: 240px;
        margin-left: 20px;
    }
    .message-form{
        min-height: 200px;
    }
    .form-contato h1{
        margin-left: 20px;
    }
    .btn-form{
        margin-left: 20px;
    }
    /*responsividade curso*/
    .curso-initial{
        display: block;
        justify-content: space-between;
    }
    .curso-investimento h1{
    font-size: 30 px;
    text-align: center;
}

    .curso-img{
    display: none;
        }

    .box-aula-cursos{
        display: block;
        padding: 7%;
    }
    .curso-investimento p{
        font-size: 14px;
        font-weight: 300;
        display: flex;
        line-height: 12px;
        margin-top: 14%;
        }

    hr{
        width: 600px;

    }
    video{
        padding: 40px;
    }

        /*responsividade do index*/
        .content{
            display: block;
        }
        .img-top{
            display: none;
            position: relative;
        }
    
        .titulo-top h1{
            font-size: 30px;
            line-height: 25px;
            position: relative;
        }
    
        .titulo-top p{
            font-size: 20px;
            line-height: normal;
            position: absolute;
        }
    
        .button-top button{
         margin-top: 200px;
        padding: 12px;
        border: 0px;
    
      }
    
      .button-top button a{
        position: absolute;
        border: 2px solid #FF4081;
        border-radius: 62px;
        padding: 20px;
      }
      
      .newbox-2{
        display: inline;
      }
      .nbox{
        padding-top: 10%;
        padding-left: 20px;
        margin-right: 40px;
        align-items: center;
        margin-left: 42px;
      }
      .grid{

        padding-top: 2px;
    }
    .test-img{
        box-sizing: content-box;
        width: 70px;
        height: 70px;
        margin-top: 150px;
    }
    .testemony-text p{
        margin-top: 50px;
        
    }
    .content-more h2{
    font-size: 25px;
    }
    .more-flex{
        display: block;
    }
    .content-one p span{
        line-height: 18px;
    }
    .content-one img{
        width: 150px;
        height: 50%;
    
    }
    .button-f-m{
        padding-left: 25%;
        }
.list-menu{
            display: block;
            justify-content: center;
            margin-left: 35%;
        }
  } 
  

