@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

*{  font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    display: block;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
}

.h-flex{
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 20px;
    flex-wrap: wrap!important;
    display: flex;
    background: #2E948A;
    color:#FFFFFF;
}

.link1{
    text-decoration: none;
    margin-bottom: 14px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
}

.link1 img{
box-sizing: border-box;
}

#span-inicio{
    font-size: 56px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 64px;
    position: relative;
    width: auto;
    }

.pad-home{
    margin-left: 90px;

    }

.list-menu{
    display: flex;
    padding-left: 50%;
    list-style: none;
    align-items: center;
}

.list-item{
    box-sizing: border-box;
    display: list-item;
    text-align: center;
}

.menu-link{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding-right: 20px;
}

.top-home{
    padding-top: 42px;
    padding-right: 206px;
    padding-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
}

.content{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.titulo-top{
    padding-left: 350px;
    padding-right: 300px;
}

.titulo-top h1{
    margin-bottom: 20px;
    color: #ff4081;
    font-weight: 700;
    font-size: 60px;
    line-height: 68.94px;
}

.titulo-top p{
font-weight: 400;
font-size: 27px;
line-height: 31.02px;
box-sizing: border-box;
display: block;
padding-top: 12px;
}

.button-top button{
    font-size: 27px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 62px;
    border: 2px solid #FF4081;
    padding: 20px;
    color: #FF4081;
    background-color: none;
}

.newbox-2 {
    padding-top: 60px;
    padding-left: 15%;
    display: flex;
    background-color: #F7F7F7;
    padding: 140px;
}

.nbox{
    padding: 20px;
}

.newbox-2 h2{
    color: #FF4081;
    font-weight: 700;
    font-size: 25px;
    padding-top: 15px;

}

.newbox-2 p{
    padding-top: 35px;
    font-size: 17px;
    line-height: 19.53px;
    font-weight: 300;
    text-align: center;

}

.newbox-2 button{
    align-items: center;
    width: 233px;
    height: 51px;
    margin-top: 15px;
    background-color: #FF4081;
    border-radius: 62px;
    color: #F7F7F7;
    font-size: 20px;
    border-color: #FF4081;
    cursor: pointer;
}

.nbox button span{
font-weight: 20.27px;
padding: 20px;
}

/*testmony-container*/

.testmony-container{
    padding: 60px;
}

.testmony-container h2{
    padding: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 50.47px;
    color: #009688;
    padding-left: 100px;
}

.test-img{
    box-sizing: content-box;
    border: 3px solid #FF4081;
    border-radius: 70px;
    width: 76px;
    padding: 12px; /*corrigir*/
}

.testemony-text{
    display: flex;
    padding-left: 20px;
}

.grid{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-family: 18px;
    font-weight: 300;
    color: #000000;

}


.testemony-text p{
    margin-left: 50px;
    flex-direction: row;
    
}

.testemony-text span{
padding-top: 30px;
font-size: 18px;
font-weight: 500;
margin-top: 20px;

}

/*section - mais conteúdo para você*/

.more{
    background-color:#E5E5E5;
}

.content-more h2{
    font-weight: 700;
    font-size: 37px;
    line-height: 42.51px;
    padding: 50px;
    color: #009688;
}

.more-flex{
    display: flex;
    padding: 60px;
    }

.content-one p{
    color: #009688;
    font-weight: 700;
    font-size: 27px;
    line-height: 31.02px;
}

.content-one p span{
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 20.68px;
}
.button-f{
padding-left: 50%;
padding-top: 40px;
}

.button-f button{
box-sizing: border-box;
border: 2px solid #FF4081;
border-radius: 62px;
font-weight: 400;
font-size: 25px;
line-height: 29px;
color: #FF4081;
padding: 10px;
}

.footer{
    background-color: #2E948A;
}